.navbar {
  position: relative; /* en lugar de sticky */
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white; /* opcional para mayor contraste */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-title {
  margin: 0;
  font-size: 1.6rem;
}

.navbar-buttons button {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  width: auto;
  background-color: transparent;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.navbar-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.052);
}

.nickname {
  font-size: 1.2rem;
  color: var(--main-color);
  font-weight: bold;
}

@media (max-width: 600px) {
  .navbar-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Yo aqui bajaria el tamaño de la fuente */
}
