.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.quiz-content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Encabezado */
.quiz-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: calc(var(--font-size-base) - 0.1rem);
  padding: 0.5rem;
  background-color: white;
}

/* Cuerpo en dos columnas */
.quiz-body {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  height: 500px;
}

/* Imagen izquierda */
.quiz-image-container {
  flex: 0 0 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  border: #999 solid 2px;
}

.quiz-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* cover */
}

/* Panel derecho */
.quiz-right {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
}

/* Botones de opciones */
.quiz-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quiz-option {
  width: 100%;
  padding: 0.75rem;
  font-size: calc(var(--font-size-base) - 0.3rem);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-style: italic;
}

/* Botón siguiente */
.quiz-next {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.next-button {
  padding: 0.4rem 1rem;
  font-size: calc(var(--font-size-base) - 0.3rem);
  border-radius: 20px;
  background-color: transparent;
  color: black;
  border: black solid 2px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.next-button:hover {
  background-color: #f0f0f0;
}

.next-button:disabled {
  cursor: not-allowed;
}

/* Área de feedback */
.quiz-feedback {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color: var(--secondary-color, #555);
  text-align: center;
  overflow-y: auto;
  padding: 0.5rem;
  font-size: calc(var(--font-size-base) - 0.2rem);
}

.quiz-option.correct {
  background-color: green;
  opacity: 0.5;
}

.quiz-option.incorrect {
  background-color: red;
  opacity: 0.5;
}

.feedback-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.feedback-message {
  font-size: calc(var(--font-size-base) - 0.1rem);
  font-weight: bold;
  margin: 0;
}

.feedback-name {
  font-weight: bold;
  font-style: italic;
  color: black;
  margin: 0;
  font-size: calc(var(--font-size-base) - 0.1rem);
}

.feedback-description {
  font-size: calc(var(--font-size-base) - 0.1rem);
  margin: 0;
}

.feedback-correct {
  color: green;
}

.feedback-incorrect {
  color: red;
}

.Toastify__toast {
  font-size: calc(var(--font-size-base) - 0.3rem);
  background-color: #f0fff4;
  color: #2f855a;
  border: 1px solid #a0d8b3;
  border-radius: 10px;
  position: relative; /* importante */
  padding-right: 2.5rem; /* da espacio para la cruz */
  flex: 1;
}

.Toastify__close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .quiz-body {
    flex-direction: column;
    align-items: center;
    /* aqui puedes meter otro height para fomratos moviles, pero no soy muy amigo de trabajar con terminos absolutos (px) */
    width: 100%;
    gap: 1rem;
    height: auto; /* ?? */
  }

  .quiz-header {
    padding: 0;
  }

  .quiz-image-container {
    height: auto; /* evita que tome una altura innecesaria */
    max-height: 40vh; /* hace que sea más compacta y responsiva */
  }

  .quiz-image-container,
  .quiz-right {
    width: 100%;
  }

  .quiz-image {
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* height: auto; */
    aspect-ratio: 4 / 3.5;
    object-fit: contain;
    margin-bottom: 0;
  }

  .quiz-options {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .quiz-option {
    width: 100%;
    padding: 0.5rem;
    font-size: calc(var(--font-size-base) - 0.1rem);
  }

  .quiz-feedback {
    width: 100%;
    text-align: center;
    margin-top: 0rem;
    font-size: calc(var(--font-size-base) - 0.1rem);
  }

  .next-button {
    width: 100%;
    font-size: calc(var(--font-size-base) - 0.2rem);
    display: block;
  }

  .quiz-next {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
  }
  .quiz-container {
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
  }
}

.quiz-image-wrapper {
  flex: 0 0 70%; /* Igual que antes */
  display: flex;
  flex-direction: column;
  height: 650px; /* Mantiene el alto original */
}

.quiz-copyright {
  font-size: 0.75rem;
  font-style: italic;
  color: #666;
  text-align: right;
  margin-top: 4px;
}
