.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    min-height: 60vh;
    border-radius: 12px;
  }
  
  .score-title {
    font-size: calc(var(--font-size-base) + 0.7rem);
    margin-bottom: 0.5rem;
    color: var(--main-color);
  }
  
  .score-subtitle {
    font-size: calc(var(--font-size-base) + 1rem);
    font-weight: normal;
    margin-bottom: 2rem;
    color: var(--text-color);
  }
  
  .score-button {
    padding: 1rem 2rem;
    margin-top: 1rem;
  }
  .score-button:hover {
    background-color: var(--accent-color);
  }
  
  @media (max-width: 600px) {
    .score-container {
      padding: 2rem 1rem;
    }
  
    .score-title {
      font-size: calc(var(--font-size-base) + 0.4rem);
    }
  
    .score-subtitle {
      font-size: calc(var(--font-size-base) + 0.5rem);
    }
  
    .score-button {
      padding: 0.6rem 1.5rem;
      font-size: calc(var(--font-size-base) + 0.1rem);
    }

  }